.DailyAnalysis {
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80%;
}

.left{
    margin: 2%;
    order:1;
    flex:1;
}

.right {
    margin: 2%;
    order: 2;
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

h1 {
    margin-left: 20px;
    margin-top: 20px;
}

.emoji {
    font-size: 200px;
    margin: 0 auto;
}

.emojiDiv {
    justify-content: center;
    margin-top: 100px;
    margin-left: 50px;
}

.totalConsumption {
    margin-left: 20px;
    font-size: xx-large;
}

.productList {
    display: flex;
    flex-direction: column;
    max-height: 65vh;
    width: 60%;
    overflow: auto;
    background-color: white;
    border-radius: 5px
}

.Product{
    font-size:17px;
}