.main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 100%;
  background-color: #ece6e1;
  color: black;
}

.left {
  display: flex;
  flex: 1;
  order: 1;
}

.Cup {
  order: 2;
  flex: 2;
}

.clearButton {
  width: auto;
  height: 10%;
}
