.main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 80%;
  color: black;
  background-color: #ece6e1;
  color: black;
}

.left {
  display: flex;
  flex: 1;
  order: 1;
}

.Cup {
  order: 2;
  flex: 2;
}

.clearButton {
  width: auto;
  height: 10%;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 1.5s fadeInUp;
}
